.box {
  display: flex;
  align-items: stretch;

  .label {
    background-color: #d20000;
    width: 120px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  .content {
    border: 1px solid #f0f0f0;
    padding: 32px 16px 8px 16px;
    flex: auto;
  }

  .operate {
    width: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
